@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .mask-fade-bottom {
    mask-image: linear-gradient(
      to bottom,
      theme(colors.slate.900) 0%,
      theme(colors.slate.900) calc(100% - 2.5rem),
      transparent 100%
    );
  }
}